@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {    
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));    
}
.ant-card-bordered ul {
  background-color: transparent !important;
  border: none !important;  
}

.ant-card-bordered li{
  border: none !important;  
}
.ant-card-bordered {
  border: none !important;  
}
@media (max-width: 768px) {
  .card {
    width: 300px !important;
    height: 380px !important;
  }
}

.fade-in {
  animation: fade-in-animation 0.5s ease-in-out forwards;
  opacity: 0;
  transform: translateY(-20px);
}

@keyframes fade-in-animation {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
